.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:  start;
    flex-direction:  column;
    padding: 20px;
    gap:10px;
}

#kora {
  height:70%;
}
span {
    padding: 5px 10px;
    background: linear-gradient(to right, rgb(18, 188, 210), rgb(204, 50, 119));
    font-size: 2vmax; /* new  */
    background-clip: text; /* new*/
    color: transparent;
}
button {
    width:  180px;
    height: 40px;
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(120, 188, 214);
    box-shadow: 2px 2px 50px rgb(120, 188, 214);
}